.popup {
  position: fixed;
  transform: translate(-50%,-50%);
  left: 40%;
  top: 2%;
  z-index: 9999;
  min-width: 300px;
  max-width: 350px;

  padding: 14px 18px;
  border-radius: 12px;
text-align: center;
  color: white;
  font-weight: 600;
  font-size: 14px;

animation: scale-up-center 0.4s cubic-bezier(0.39, 0.575, 0.565, 1) both;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.25);
}

.success {
  background: #22c55e;
}

.error {
  background: #ef4444;
}

.info {
  background: #3b82f6;
}


@keyframes scale-up-center {
  0% {
    -webkit-transform: scale(0.5);
    transform: scale(0.5);
  }

  100% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }
}

@media (max-width:768px) {
  .popup{
    left: 12%;
  }
}